section{
    display: flex;
  flex-direction: column;
    align-items: center;  
}
   a{
     text-decoration: none;
     padding: 5px;
   }
a:hover{
   text-decoration: underline;
   }
 nav{
     display: flex;
     justify-content: space-between;
   }
   .class-1{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    margin-right: 50px;
  }
 

.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height:30px;
  border-radius: 30px;
}
.search:hover{
  box-shadow: 0 0 10px 0;
}
.search> input{
  flex-grow: 1;
  border: none;
  outline:none;
}

button{
  background-color: #F2F2F2;
  border-radius: 5px;
  border: none;
 height: 36px;
  padding: 0 20px;
  margin: 0 4px;
}
button:hover{
  box-shadow: 0 0 10px 0 gainsboro;
}

footer{
  background-color: #F2F2F2;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
  #class-2{
     display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
   }
#class-3{
    display: flex;
   justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
  }